div.ads img
{
    width: 300px;
}
div.ads {
	display: inline-block;
    box-shadow: 0px 0px 1px 2px #cecece;
    padding: 4px;
}

img.ad {
    box-shadow: 0 1px 3px 1px #ccc;
    margin: 2px;
}

a.delete {
    position: absolute;
    top: 24px;
    color: #fff;
    background-color: #ccc;
    border-radius: 50%;
    width: 18px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
}